<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TweetChecker</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <li><%= link_to "Home",   'root_path',class:"nav-link active" %></li>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <% if user_signed_in? %>
      <li class="nav-item"><%= link_to "Logout", '/login',class:"nav-link active"%></li>
      <% else %>
      <li class="nav-item"><%= link_to "Login", '/login',class:"nav-link active"%></li>
      <% end %>
    </ul>
  </div>
</nav>
